@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'OpenDyslexic';
    src: url('OpenDyslexic-Regular.woff2') format('woff2'),
        url('OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
$main: #DA5B3F;
html, body {
    padding: 0;
    margin: 0;
    background-color: $main;
    font-family: 'Epilogue', sans-serif;
    scroll-behavior: smooth;
}
h1,h2 {
    font-family: 'OpenDyslexic';
}
.logo-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        margin-top: 10px;
    }
}
.layout {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),url('../images/illustrations/1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    @media only screen and (max-width:600px) {
        background-color:$main !important;
        background-image:none !important;
        .responsive {
            display: block;

            &.open {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
        nav {
            
            padding: 0;
            justify-content: center;
            align-items: center;
            ul {
                display: none;
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                background-color: #fff;
                li {
                padding: 10px;

                }
                a  {
                    color: #212121;
                }
            }
        }
    }
    .contact {
        background-color: #fff;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        form {
            width: 600px;
            .group-input {
                display:flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 20px;
                input {
                    padding: 10px 20px;
                    background:transparent;
                    border: 2px solid #eee;
                    border-radius: 2px;
                    width: 42%;
                    font-size: 15px;
                    font-family: 'Epilogue', sans-serif;
                    font-weight: 400;
                    outline:0;
                    transition: border-color 0.5s;
                    &:focus {
                        border-color:$main
                    }
                }
            }
            textarea {
                padding: 20px;
                    background:transparent;
                    border: 2px solid #eee;
                    border-radius: 2px;
                    width: 100%;
                    font-size: 15px;
                    font-family: 'Epilogue', sans-serif;
                    font-weight: 400;
                    box-sizing: border-box;
                    outline:0;
                    transition: border-color 0.5s;

                    &:focus {
                        border-color:$main
                    }
            }
            button {
                margin-top: 20px;
                background-color: $main;
                color: white;
                padding: 10px 20px;
                border:0;
                font-size: 15px;
                font-family: 'Epilogue', sans-serif;
            }
        }
    }
}
nav {
    height: 40vh;
    padding: 50px;
    display:flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    color: #fff;
    a {
        text-decoration: none;
        color:white;
    }
    .responsive {
        display: none;
    }
    ul {
        list-style: none;
        text-align: right;
        padding: 0;
        margin:0;
        li {
            margin-bottom: 20px;
            
        }

    }
    img {
        width: 200px;
        height: 200px;
        border-radius:100%;
    }
}
section {
    width: 100%;
    box-sizing: border-box;
    &.content {
        display: flex;
        flex-direction: column;
        &:nth-child(2n) {
            background-color: #fff;
            align-items: flex-end;
            p {
                text-align: right;
            }
            h2 {
                background-color: $main;
                color:white;
                padding:10px 25px;
                display: inline;
            }
            p {
                margin-top: 50px;
                color: #000;
                line-height: 30px;
            }
            a {
                color: #000;
                text-decoration: none;
                padding-bottom: 4px;
                font-size: 25px;
                border-bottom: 2px solid #000;
            }
        }
        background-color: $main;
        padding:100px;
        @media only screen and(max-width:600px) {
            padding:25px;
        }
         h2 {
            background-color: #fff;
            padding:10px 25px;
            display: inline;
            width: max-content;
        }
        p {
            margin-top: 30px;
            color: white;
            line-height: 30px;
        }
        a {
            color: white;
            text-decoration: none;
            padding-bottom: 4px;
            font-size: 25px;
            border-bottom: 2px solid #fff;
            width: max-content;
        }
    }
    &.landing-first {
        padding:20px;
        height: calc(100vh - 40vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        span {
            background-color: #eee;
            padding:10px 25px;
            font-size: 13px;
            margin-bottom: 30px;;
        }
        p {
            background-color: $main;
            padding:5px 25px;
            color: white;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0;
            margin-bottom: 0px;
    font-family: 'OpenDyslexic';

        }
    }
}
.footer {
    background-color: skyblue;
    padding: 40px;
    color: #212121;
    text-align: center;
    font-size: 10px;
  
    p {
        a {
            color: #212121;
        }
    }
    .footerModules {
        display:flex;
        justify-content: space-between;
        align-items: center;
        .footer-module {
            width: 30%;
            &:last-child {

                display: flex;
                justify-content: flex-end;
            }
        }
        .footerInfos {
            img {
                width: 100%;
            }
            width: 200px;
            text-align: center;
            font-size: 20px;
            h2 {
                margin-top: 0;
            }
            .arrow-up {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                p {
                    &.hidden {
                        opacity: 0;
                    }
                    font-size: 12px;
                    margin-right: 10px;
                }
                a    {
                    background-color: #73a3de;
                color:white;
                cursor: pointer;
                display: flex;
                border-radius: 100%;
                width: 40px;
                height:40px;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-decoration: none;
                }
            }
        }
        .title {
            text-align: center;
            h3 {
                font-size: 25px;
                text-transform: uppercase;
            }
            p {
                font-size: 20px;
                color:green;
            }
        }
        .footerMenu {
            img {
                width: 80%;
            }
            text-align: left;
            font-size: 20px;
        }
    }
}
.page {
    margin-top: 20vh;
    background-color: #fff;
    padding: 50px 200px;
    color:#525252;
    line-height: 24px;
    @media only screen and (max-width:860px) {
        padding: 50px 100px;
    }
    @media only screen and (max-width:500px) {
        padding: 50px;
    }
    img {
        width: 100%;
    }
    ol {
        list-style: none;
        color: white;
        padding: 0;
        margin: 0;
    }
    ol {
        &>li  {
            &:nth-child(1n) {
                >p {
                    background-color: rgb(181, 232, 252);
                }
            }
            &:nth-child(2n) {
                >p {
                    background-color: #fafcc2;
                }
            }
            &:nth-child(3n) {
                >p {
                    background-color: #f6d6ad;
                }
            }
            >p {
                color: #212121;
                padding: 20px 50px;
                cursor: pointer;
                transition: opacity 0.3s;
                position: relative;
                &::after {
                    content:'+';
                    position: absolute;
                    font-size: 40px;
                    left:20px;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        & ul {
            padding: 0;
            margin:0;
            list-style: none;
            color: $main;
            display: none;
        }
    }

    
    
    h1 {
        text-align:center;
        margin:50px 0 100px 0 ;
    }
    h1, h2 {
        color: #212121;
    }
    .about {
        .about_card {
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width:660px) {
                flex-wrap: wrap;
            justify-content: center;

           align-items: center;

            }

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                object-position: center;
                border-radius: 100%;
    @media only screen and (max-width:660px) {
        width: 50vw;
        height: 50vw;
    }
            }
            .content {
                width: calc(95% - 200px);
                text-align: justify;
                @media only screen and (max-width:660px) {
                    width: 100%;
                }
            }
        }
        .diplomes {
            margin-top: 100px;
        }
    }
    .gallery {
        .gallery-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .gallery-element {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
    .faq {
        .questions {
            margin:0;
            padding: 0;
            list-style: none;
            li {
                &:nth-child(1n) {
                    .question_block .question {
                        background-color: skyblue;
                    }
                }
                &:nth-child(2n) {
                    .question_block .question {
                        background-color: #fafcc2;
                    }
                }
                &:nth-child(3n) {
                   .question_block .question {
                        background-color: #f6d6ad;
                    }
                }
            }
            .question_block {
                padding-bottom: 10px;
                
                .question {
                    padding:20px;
                    color: #212121;
                    font-weight: bold;
                    white-space: pre-wrap;
                    cursor: pointer;
                    transition: opacity 0.5s;
                    display: flex;
                    justify-content: space-between;
                    span:last-child {
                        font-size: 40px;
                    }
                    &:hover {
                        opacity: 0.6s;
                    }
                }
                .reponse {
                    &.hidden {
                        display: none;
                    }
                    padding: 20px 40px;
                    border:2px dashed $main;
                }
            }
        }
    }
    .sessions {
        .testimonials {
            margin-top: 100px;
            .testimonial-element {
                margin-top: 70px;
            }
        }
        .tarifs {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-grow:1;
            margin-top: 100px;
            .tarif-element {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 300px;
                text-align: justify;
                border: 2px solid $main;
                box-sizing: border-box;
                border-radius: 3px;
                .tarif-header {
                    background-color: $main;
                    width: 100%;
                    padding: 20px 10px;
                    box-sizing: border-box;
                    h3 {
                        width: 100%;
                        text-align: center;
                        font-family: 'OpenDyslexic', sans-serif;
                        color: white;
                    }
                    .price {
                        text-align: center;
                        color: white;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                p {
                    padding: 20px 20px 0 20px;
                }
                
                a {
                    padding:10px 25px;
                    background-color: $main;
                    color:white;
                    text-decoration: none;
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
  
}
