@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'OpenDyslexic';
    src: url('OpenDyslexic-Regular.woff2') format('woff2'),
        url('OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
$main: #DA5B3F;
html, body {
    padding: 0;
    margin: 0;
    background-color: $main;
    font-family: 'Epilogue', sans-serif;
}
h1,h2 {
    font-family: 'OpenDyslexic';
}
.layout {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),url('../images/illustrations/1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    .contact {
        background-color: #fff;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        form {
            width: 600px;
            .group-input {
                display:flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 20px;
                input {
                    padding: 10px 20px;
                    background:transparent;
                    border: 2px solid #eee;
                    border-radius: 2px;
                    width: 42%;
                    font-size: 15px;
                    font-family: 'Epilogue', sans-serif;
                    font-weight: 400;
                    outline:0;
                    transition: border-color 0.5s;
                    &:focus {
                        border-color:$main
                    }
                }
            }
            textarea {
                padding: 20px;
                    background:transparent;
                    border: 2px solid #eee;
                    border-radius: 2px;
                    width: 100%;
                    font-size: 15px;
                    font-family: 'Epilogue', sans-serif;
                    font-weight: 400;
                    box-sizing: border-box;
                    outline:0;
                    transition: border-color 0.5s;

                    &:focus {
                        border-color:$main
                    }
            }
            button {
                margin-top: 20px;
                background-color: $main;
                color: white;
                padding: 10px 20px;
                border:0;
                font-size: 15px;
                font-family: 'Epilogue', sans-serif;
            }
        }
    }
}
nav {
    height: 40vh;
    padding: 50px;
    display:flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    color: #fff;
    ul {
        list-style: none;
        text-align: right;
        li {
            margin-bottom: 20px;
            a {
                text-decoration: none;
                color:white;
            }
        }

    }
    img {
        width: 200px;
        height: 200px;
        border-radius:100%;
    }
}
section {
    width: 100%;
    box-sizing: border-box;
    &.content {
        display: flex;
        flex-direction: column;
        &:nth-child(2n) {
            background-color: #fff;
            align-items: flex-end;
            p {
                text-align: right;
            }
            h2 {
                background-color: $main;
                color:white;
                padding:10px 25px;
                display: inline;
            }
            p {
                margin-top: 50px;
                color: #000;
                line-height: 30px;
            }
            a {
                color: #000;
                text-decoration: none;
                padding-bottom: 4px;
                font-size: 25px;
                border-bottom: 2px solid #000;
            }
        }
        background-color: $main;
        padding:100px;
        h2 {
            background-color: #fff;
            padding:10px 25px;
            display: inline;
            width: max-content;
        }
        p {
            margin-top: 30px;
            color: white;
            line-height: 30px;
        }
        a {
            color: white;
            text-decoration: none;
            padding-bottom: 4px;
            font-size: 25px;
            border-bottom: 2px solid #fff;
            width: max-content;
        }
    }
    &.landing-first {
        padding:20px;
        height: calc(100vh - 40vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        span {
            background-color: #eee;
            padding:10px 25px;
            font-size: 13px;
            margin-bottom: 30px;;
        }
        p {
            background-color: $main;
            padding:5px 25px;
            color: white;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0;
            margin-bottom: 0px;
    font-family: 'OpenDyslexic';

        }
    }
}
.footer {
    background-color: #212121;
    padding: 40px 60px;
    color: white;
    text-align: center;
    font-size: 10px;
    p {
        a {
            color: white;
        }
    }
    .footerModules {
        display:flex;
        justify-content: space-between;
        .footerInfos {
            text-align: right;
            font-size: 16px;
            h2 {
                margin-top: 0;
            }
        }
        .footerMenu {
            ul {
                list-style: none;
                margin:0;
                padding: 0;
                text-align: left;
                font-size: 16px;
                li {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.page {
    background-color: #fff;
    padding: 50px 200px;
    color:#525252;
    line-height: 24px;

    h1 {
        text-align:center;
        margin:50px 0 100px 0 ;
    }
    h1, h2 {
        color: #212121;
    }
    .about {
        .about_card {
            display: flex;
            justify-content: space-between;
            img {
                width: 20vw;
                height: 20vw;
                object-fit: cover;
                object-position: center;
                border-radius: 100%;
            }
            .content {
                width: calc(95% - 20vw);
                text-align: justify;
            }
        }
        .diplomes {
            margin-top: 100px;
        }
    }
    .faq {
        .questions {
            margin:0;
            padding: 0;
            list-style: none;
            .question_block {
                padding-bottom: 10px;
                .question {
                    padding:20px;
                    background-color: $main;
                    color: white;
                    font-weight: bold;
                    white-space: nowrap;
                    cursor: pointer;
                    transition: opacity 0.5s;
                    display: flex;
                    justify-content: space-between;
                    span:last-child {
                        font-size: 40px;
                    }
                    &:hover {
                        opacity: 0.6s;
                    }
                }
                .reponse {
                    &.hidden {
                        display: none;
                    }
                    padding: 20px 40px;
                    border:2px dashed $main;
                }
            }
        }
    }
    .sessions {
        .tarifs {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-grow:1;
            margin-top: 100px;
            .tarif-element {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 300px;
                text-align: justify;
                border: 2px solid $main;
                box-sizing: border-box;
                border-radius: 3px;
                .tarif-header {
                    background-color: $main;
                    width: 100%;
                    padding: 20px 10px;
                    box-sizing: border-box;
                    h3 {
                        width: 100%;
                        text-align: center;
                        font-family: 'OpenDyslexic', sans-serif;
                        color: white;
                    }
                    .price {
                        text-align: center;
                        color: white;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                p {
                    padding: 20px 20px 0 20px;
                }
                
                a {
                    padding:10px 25px;
                    background-color: $main;
                    color:white;
                    text-decoration: none;
                    margin-bottom: 30px;
                }
            }
        }
    }
  
}