backend:
  name: git-gateway
  branch: main

media_folder: "static/uploads"
public_folder: "/uploads"
locale: 'fr'
collections:
  - name: "posts"
    label: "Article"
    folder: "posts"
    editor: 
     preview: false 
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Titre", name: "title", widget: "string"}
      - {label: "Date de publication", name: "date", widget: "date"}
      - {label: "Contenu", name: "body", widget: "markdown"}
  - name: "pages"
    label: "Page"
    folder: "pages"
    editor: 
      preview: false 
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Ajouter cette page au menu", name: "isInMenu", widget: "boolean", default: false, required: false}
      - {label: "Ajouter au pied de page", name: "isFooterMenu", widget: "boolean", default: false, required: false}
      - {label: "Image d'en-tête", name: header_photo,required:false, widget: image}
      - {label: "Titre", name: "title", widget: "string"}
      - {label: "Date de publication", name: "date", widget: "date"}
      - {label: "Contenu", name: "body", widget: "markdown"}
      - label: "Voir aussi"
        name: "similar"
        widget: "relation"
        collection: "pages"
        search_fields: ["title"]
        value_field: "title"
        display_fields: ["title"]
    collections:

  - label: "Informations"
    name: "settings"
    editor: 
      preview: false 
    files:
      - label: "Qui-suis-je ?"
        name: "about"
        file: "src/assets/static_pages/who.yml"
        slug: "{{slug}}"
        fields:
          - {label: "Ajouter cette page au menu", name: "isInMenu", widget: "boolean", default: false, required: false}
          - {label: "Ajouter au pied de page", name: "isFooterMenu", widget: "boolean", default: false, required: false}
          - {label: "Image d'en-tête", name: header_photo,required:false, widget: image}
          - {label: "Titre de la page", name: title, widget: string}
          - {label: "Photo de présentation", name: about_photo, widget: image}
          - label: "Diplômes"
            name: about_diplomes
            widget: list
            fields:
              - {label: Intitulé du diplôme, name: about_diplome_name, widget: string}
          - {label: "Texte de présentation", name: "about_content", widget: "markdown"}
      - label: "Séances"
        name: "sessions"
        file: "src/assets/static_pages/sessions.yml"
        slug: "{{slug}}"
        fields:
          - {label: "Ajouter cette page au menu", name: "isInMenu", widget: "boolean", default: false, required: false}
          - {label: "Ajouter au pied de page", name: "isFooterMenu", widget: "boolean", default: false, required: false}
          - {label: "Image d'en-tête", name: header_photo,required:false, widget: image}
          - {label: "Titre de la page", name: title, widget: string}
          - {label: "Présentations des séances", name: sessions_content, widget: markdown}
          - label: "Tarifs"
            name: tarifs
            widget: list
            fields:
              - {label: Intitulé du tarif, name: sessions_tarif_name, widget: string}
              - {label: "Description du tarif", name: "sessions_tarif_desc", widget: "markdown"}
              - {label: "Montant", name: sessions_tarif_price, widget: string}
      - label: "Questions fréquentes"
        name: "faq"
        file: "src/assets/static_pages/faq.yml"
        slug: "{{slug}}"
        fields:
          - {label: "Ajouter cette page au menu", name: "isInMenu", widget: "boolean", default: false, required: false}
          - {label: "Ajouter au pied de page", name: "isFooterMenu", widget: "boolean", default: false, required: false}
          - {label: "Image d'en-tête", name: header_photo,required:false, widget: image}
          - {label: "Titre de la page", name: title, widget: string}
          - {label: "Texte de présentation", name: faq_desc, widget: markdown}
          - label: "Questions fréquentes"
            name: questions
            widget: list
            required: false
            fields:
              - {label: Question, name: question_name, widget: string}
              - {label: "Réponse", name: question_response, widget: "string"}

          
      